<!DOCTYPE html>
<html lang="en">
<head>
 <title>BMI Calculator</title>
    <meta charset="UTF-8">

        <!-- Bootstrap links -->
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- I added a favicon. Tutorial on it from https://www.youtube.com/watch?v=YRzSxtcxVeo -->
    <!-- Got the favicon from http://www.favicon.cc/?action=icon&file_id=514761 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Dynamic URL for the CSS file in static folder. Tutorial on it from legendary Bucky Roberts! https://www.youtube.com/watch?v=WxgYYGxoPwY -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>

    <!--BootStrap starter template -->
        <!-- Nav Bar at the top of page -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BMI Calculator</a>
        </div>
          <div id="navbar" class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href={{ url_for('about') }}>About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

</body>
</html>